---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import KeyMetrics from '../../components/KeyMetrics.astro';
import Products from '../../components/Products.astro';
import CallOutWithImageLeft from '../../components/CallOutWithImageLeft.astro';
import Partners from '../../components/Partners.astro';
import CallToAction from '../../components/CallToAction.astro';
import Testimonials from '../../components/Testimonials.astro';
import ContactForm from '../../components/ContactForm.astro';
import { ui } from '../../i18n/ui';
import { getLangFromUrl } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = ui[lang];
---

<Layout title={t.hero.title}>
  <Hero />
  <KeyMetrics />
  <section id="products">
    <Products />
  </section>
  <section id="partners">
    <Partners />
  </section>
  <section id="testimonials">
    <Testimonials />
  </section>
  <section id="contact">
    <ContactForm />
  </section>
</Layout>
