---
// No server-side redirect - client handles token detection and redirect
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Blastserv</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
        ></script>
    </head>
    <body>
        <p style="text-align: center; margin-top: 50px;">Loading...</p>
        <script is:inline>
            // Check for Netlify Identity tokens in URL hash
            var hash = window.location.hash;
            var hasToken =
                hash.includes("invite_token") ||
                hash.includes("confirmation_token") ||
                hash.includes("recovery_token");

            if (hasToken && window.netlifyIdentity) {
                // Token found - open Identity widget for password setup
                window.netlifyIdentity.on("init", function () {
                    window.netlifyIdentity.on("login", function () {
                        window.location.href = "/admin/";
                    });
                });
                window.netlifyIdentity.open();
            } else {
                // No token - redirect to Polish homepage
                window.location.href = "/pl/";
            }
        </script>
    </body>
</html>
