---
// Redirect to appropriate page based on URL hash
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Blastserv</title>
    </head>
    <body>
        <p
            style="text-align: center; margin-top: 50px; font-family: sans-serif;"
        >
            Redirecting...
        </p>

        <script is:inline>
            // Check for Netlify Identity tokens in URL hash
            var hash = window.location.hash || "";
            var hasToken =
                hash.indexOf("invite_token") !== -1 ||
                hash.indexOf("confirmation_token") !== -1 ||
                hash.indexOf("recovery_token") !== -1;

            if (hasToken) {
                // Redirect to admin page WITH the hash - admin handles tokens properly
                window.location.replace("/admin/" + hash);
            } else {
                // No token - redirect to Polish homepage
                window.location.replace("/pl/");
            }
        </script>
    </body>
</html>
